
main{
    display: grid;
    grid-template-columns:repeat(3, 1fr) ;
    grid-template-rows:repeat(3, 1fr) ;
    gap:10px;
}
main .block{
    padding:20px;
    color: white;
    font-size: 4em;
    font-weight:bold;
    text-align:center;
}

.block.block1{
    grid-column: 1/4;
    grid-row: 2;
    background-color: #b6366a;
}
.block.block2{
    grid-column: 1/4;
    grid-row: 1;
    background-color: #726ea6;
}
.block.block3{
    grid-column: 1/4;
    background-color: #7d8dc2;
}
.block.block4{
    grid-column: 1/4;
    background-color: #a1d2da;
}

@media screen and (min-width: 772px){
    .block.block1{
        grid-column: 1/4;
        grid-row: 1;
        background-color: #b6366a;
    }
    .block.block2{
        grid-column: 1/4;
        grid-row: 3;
        background-color: #726ea6;
    }
    .block.block3{
        grid-column: 1/4;
        grid-row: 2;
        background-color: #7d8dc2;
    }
    .block.block4{
        grid-column: 1/4;
        background-color: #a1d2da;
    }
}
@media screen and (min-width: 992px){
    .block.block1{
        grid-column: 1/4;
        grid-row: 1;
        background-color: #b6366a;
    }
    .block.block2{
        grid-column: 1/4;
        grid-row: 2;
        background-color: #726ea6;
    }
    .block.block3{
        grid-column: 1/2;
        grid-row: 3;
        background-color: #7d8dc2;
    }
    .block.block4{
        grid-column: 2/4;
        grid-row: 3;
        background-color: #a1d2da;
    }
}