body{
    padding-top: 3px;
    padding-left: 10px;
    padding-right: 10px;
    margin: 0 auto;
    width: 95%;
    font-family: Arial, sans-serif;
}

section > header {
    padding-bottom: 50px;
    background-image: url("../images/header.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    color: white;
    font-size: 25px;
    text-align: left;
}
section > nav{
    background-color: #2B2D42;
    display: flex;
    justify-content: left;
}

section > nav > a{
    color:lightgreen;
    display: flex;
    text-align: left;
}

section  article > header {
    padding-bottom: 10px;
    padding-top: 20px;
    font-size: 20px;
    text-decoration: underline;
}
section  article {
    background-color: lightgray;
    background-size: cover;
    margin: 10px;
    padding: 10px;
}

section footer{
    font-size: 10px;
}
