body {
    font-family: helvetica,sans-serif ;
}
h1{
    font-size: 80px;
    color:#EDF2F4;
}
h2{
    font-size: 40px;
    color:#EDF2F4;
}

a{
    color:#EF233C;
}

header{
    padding: 30px;
    color:#8D99AE;
    background-color: #2B2D42;
    margin-bottom: 10px;

}

footer{
    padding: 30px ;
    color:#8D99AE;
    background-color: #2B2D42;
    margin-top: 10px;
}


main/*education*/{
    background-color:#8D99AE;
    padding: 30px;
}



/*
Lettertype: Helvetica
Lettergrootte h1: 80px
Lettergrootte h2: 40px
Kleur h1 en h2 in header: #EDF2F4
*/