body {
    font-family: Verdana, sans-serif;
    font-size: 1.1em;
    background-color: silver;
    color: darkblue;
}

h1{
    font-variant: small-caps;
    background-color: #EF233C;
}

a:hover{
    border: 2px;
    color: Green;
    background-color: #EF233C;
    text-decoration: none;
}

.stippeltjesrand{
    border: 1px dotted black;
}