
/* Hoofdingen */
h1{
    font-family: Arial;
    font-size: 1.8em;
}

h2{
    font-family: Arial;
    font-size: 1.5em;
}

h3{
    font-family: Arial;
    font-size: 1.4em;
}

/* Paragrafen */
p{
    font-family: Times New Roman;
    font-size: 1.2em;
}

/*Kleuren via klassen*/
.rood{
    color:red;
}
.green{
    color:green;
}
.blue{
    color:blue;
}