html {
    background-color: #333;
    font-family: helvetica;
    font-size: 1em;
    padding: 10px;
}
* {
    padding: 10px;
}

a{
    color: #ddaa00;
    text-decoration: none;
}

body{
    margin: 5px;
    background-color: white;
}


header {
    background-color: #ddaa00;
    color: white;
    text-align: center;
}

footer {
    background-color: #ddaa00;
    color: white;
    text-align: center;
    margin-top: 15px;
}

footer p a{
    color: black;
    text-decoration: underline;
}

nav {
    background-color: #ccc;
    color: orange;
    padding: 5px 2px;
    display: flex;
    justify-content: space-evenly;
    text-align: center;
    column-gap: 5px;
}

nav a {
    margin: 0 5px;
    border: 1px solid black;
    background-color: white;
    border-radius: 5px;
    width: 100%;
}
div {
    margin: 5px;
    background-color: white;
    flex-direction: column;
    flex:1;
}

div a {
    border: 1px solid #333;
    box-sizing: border-box;
    width: 100%;
    border-radius: 0;
}

h1 {
    margin: 5px;
    text-align: center;
}

img{
    padding: 0;
    width: 100%;
}

/* css - edit `Labo_12/Beginsituatie%202/styles/style.css` */
main {
    display: flex;
    flex-direction:  column;
    flex-wrap: wrap;
    background-color: grey;
}

main a{
    display: flex;
    justify-content: center;
    color:grey;
    width: 100%;
}

@media screen and (min-width: 700px) {
    main {
        display: flex;
        justify-content: space-evenly;
        flex-direction: row;
    }
}




