.checklist{
    list-style-type: none;
    padding: 0;
}

.checklist li {
    padding-left: 30px;
    background-repeat: no-repeat;
    background-position: left center;
    background-size: 20px 20px;
}

.checklist li {
    background-image: url('../Images/icons_527578.png');
}

.checklist li.checked{
    background-image: url('../Images/checked icon.png');
}