body{
    width: 95%;
    margin: 0 auto;
    font-family: arial, helvetica, sans-serif;
}


    /* Header area*/
header {
    background-image: url('../Images/bgsky3.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    height: 200px;
}
header img{
    position: absolute;
    margin-left: 250px;
    margin-bottom: 60px;
    top: 60px;
    right: 250px;
}

header p:first-of-type{
    margin-top: 5px;
    font-size: 300%;
    font-weight: bold;
    font-style: italic;
    color: darkblue;
}

header p:last-of-type{
    font-size: 240%;
    font-weight: bold;
    color: darkblue;
}


    /*aside area*/
aside{
    width: 25%;
    background-color: #dddddddd;
    border: 1px solid #99999999;
    box-sizing: border-box;
    float: right;
}

 aside h3{
     color: white;
     background-color: blue;
     text-align: center;
     font-size: 120%;
 }

 aside p{
     color: black;
     font-size: 90%;
     padding: 10px;
 }


    /*main gebied*/
main{
    width: 75%;
    box-sizing: border-box;
}

main div p{
    background-color: white;
    color: black;
    text-align: justify;
    margin-right: 30px;
    margin-top: 20px;
    margin-bottom: 20px;
}

main div p span{
    color: blue;
    font-weight: bold;
    font-style: italic;
}
main div p b{
    font-weight: bolder;
}

.logo{
    float: left;
    margin-right: 20px;
    margin-top: 20px;
    margin-left: 20px;
}

/* figure area*/
main figure{
    background-color: #99999999;
    margin: 20px 0 0;
    padding: 20px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}

.foto{
    width: 180px;
    height: 180px;
    background-color: white;
    border: 2px dotted #999999;
    padding: 10px;
    margin-right: 20px;
    margin-bottom: 20px;
    margin-left: 20px;
    border-radius: 5px;
}


    /*nav area*/

nav{
    background-color: #666666;
}

nav div{
    margin-left: 120px;
    display: inline-block;
}

nav a:hover{
    color: red;
}

nav div ul li{
    color: white;
    line-height: 2em;
}

section a{
    color: white;
}
    /*footer*/

footer{
    color: black;
    background-color: white;
    text-align: center;
}
