article{
    display: block;
    border: 1px solid black;
    margin: 10px;
}

article h2{
    font-weight: bold;
    padding: 10px;
}
article p{
    padding: 10px;
    font-size: 1.25em;
}


article:nth-child(even) img {
    float: left;
    width: 160px;
    height: 160px;
    margin: 10px;
}

article:nth-child(odd) img {
    float: right;
    width: 160px;
    height: 160px;
    margin: 10px;
}


article::after {
    content: "";
    display: block;
    clear: both;
}


